In [2]:
sum([1,2,3])

6

In [3]:
a = [1,2,3,4,5,6,7,8,9]

In [9]:
i=8

In [10]:
a[i-2:i+1]

[7, 8, 9]

In [12]:
len('001')

3

In [17]:
bstring = '0100'

In [18]:
for bit in bstring:
    print(bit)

0
1
0
0

In [19]:
int(bstring, base=2)

4

In [1]:
a = [1,2,3]

In [2]:
b = a[:]

In [3]:
a[0] = 0

In [4]:
a

[0, 2, 3]

In [5]:
b

[1, 2, 3]

In [6]:
a = {
    'value': 0,
    'marked': False,
}

In [7]:
a

{'value': 0, 'marked': False}

In [8]:
line = '973,543 -> 601,915'

In [9]:
xy_str = line.split(' -> ')

In [10]:
xy_str

['973,543', '601,915']

In [11]:
y1 = 100

In [16]:
y2 = 50

In [21]:
y12 = [y1, y2]

In [22]:
(y_small, y_big) = sorted([y1, y2])

In [23]:
y_small

50

In [24]:
y_big

100

In [33]:
for a in range(1):
    print(a)

0

In [31]:
a

range(0, 2)

In [2]:
location = [[0 for y in range(10)] for x in range(10)]

In [3]:
location

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [4]:
line = '1 2'

In [8]:
(a,b) = [int(x) for x in line.split()]

In [9]:
a

1

In [11]:
b

2

In [12]:
x1 = 5
x2 = 3

In [32]:
abs_range = range(abs(x2-x1)+1)

In [33]:
[nr for nr in abs_range]

[0, 1, 2]

In [34]:
a = [1,2,3]

In [37]:
for i in range(len(a)):
    if i == 0:
        a.append(4)
    print(a[i])

1
2
3

In [2]:
0 in (1,2,3)

False

In [12]:
ab = set('ab')

In [16]:
c = set('aec')

In [17]:
len(ab & c)

1

In [20]:
a = ''

In [22]:
a += str(1)

In [23]:
a

'1'

In [24]:
s = 'aged'

In [25]:
s_set = set(s)

In [27]:
s_sort = sorted(s_set)

In [29]:
s_sort_str = ''.join(s_sort)

In [30]:
s_sort_str

'adeg'

In [2]:
(1,2) in [(2,2), (3,4)]

False

In [3]:
def test_tuple(a,b):
    print(a,b)

In [4]:
t = (1,2)

In [5]:
test_tuple(*t)

1 2

In [1]:
s = 'abc'

In [2]:
for c in s:
    print(c)

a
b
c

In [3]:
l = []

In [1]:
l.pop()

NameError: name 'l' is not defined

In [2]:
line = 'fold along x=655'

In [5]:
line[11:].split('=')

['x', '655']

In [7]:
def some_func(a):
    a += 1
    
a = 0
some_func(a)
print(a)

0

In [8]:
l = [(1,2),(3,4),(5,6)]

In [10]:
for x,y in l:
    print(x,y)

1 2
3 4
5 6

In [11]:
a,b = [1,2]

In [12]:
print(a,b)

1 2

In [4]:
woord = 'woord'

In [15]:
woord[1:-1]

'oor'

In [1]:
from collections import Counter

In [5]:
cnt = Counter(woord)

In [6]:
cnt['o'] += 1

In [7]:
cnt

Counter({'w': 1, 'o': 3, 'r': 1, 'd': 1})

In [8]:
(1,2) == (1,2)

True

In [9]:
level = 8 + 2 + 2

In [10]:
level % 10

2

In [11]:
level // 10

1

In [12]:
import sys

In [13]:
sys.getrecursionlimit()

3000

In [61]:
hex_s = '8'

In [62]:
hex_i = int(hex_s, 16)

In [64]:
format(hex_i, '04b')

'1000'

In [10]:
from collections import deque

In [22]:
mydeq = deque()

In [23]:
l = list('101010101')

In [28]:
mydeq.extend(list('1010101010'))

In [29]:
mydeq

deque(['1',
       '0',
       '1',
       '0',
       '1',
       '0',
       '1',
       '0',
       '1',
       '1',
       '0',
       '1',
       '0',
       '1',
       '0',
       '1',
       '0',
       '1',
       '0'])

In [45]:
int('101', 2)

5

In [46]:
mydeq = deque('10101010')

In [48]:
while mydeq.popleft() == '1':
    print(mydeq)

deque(['0', '1', '0', '1', '0', '1', '0'])

In [50]:
len('VVVTTTILLLLLLLLLLLLLLLAAAAAAAAAAABBBBBBBBBBBBBBBB')

49

In [59]:
mydeq = deque()

In [60]:
'1' in mydeq

False

In [75]:
min([1,2,3])

1

In [72]:
l = [1,2,3]

In [73]:
l.extend([1,2,3])

In [74]:
l

[1, 2, 3, 1, 2, 3]

In [1]:
import json

In [2]:
l = json.loads('[1,[1,2]]')

In [5]:
json.dumps(l, separators=(',',':'))

'[1,[1,2]]'

In [6]:
import re

In [62]:
s = '[1,[1,[1,22]]]'

In [63]:
m = re.match(r'^([,\[\]])+(\d+)', s)

In [64]:
m.group(2)

'1'

In [65]:
m.group(1) + '@@@' + s[m.end(2):]

'[@@@,[1,[1,22]]]'

In [1]:
s = '1234'

In [3]:
s[1:]

'234'

In [4]:
'123456'[:3]

'123'

In [5]:
line = '136,-112,31'

In [7]:
line.split(',')

['136', '-112', '31']

In [8]:
coords = [int(x) for x in line.split(',')]

In [9]:
coords

[136, -112, 31]

In [6]:
for x, char in enumerate('abc'):
    print(x, char)

0 a
1 b
2 c

In [2]:
from collections import Counter

In [3]:
ctr = Counter('....#...#..#..')

In [4]:
ctr['#']

3

In [10]:
s = '0123456789'

In [11]:
x = 2

In [13]:
s[x-1:x+2]

'123'

In [14]:
int('10001000', 2)

136

In [15]:
'a' * 5

'aaaaa'

In [1]:
pos = 5

In [2]:
(((pos-1)+6)%10)+1

1

In [1]:
dd = {1:1,2:2}

In [2]:
sum(dd.values())

3

In [8]:
ll = ['1','2','3','4']

In [9]:
''.join(ll[:5])

'1234'

In [1]:
for i in range(-5, 6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [4]:
import re

In [5]:
line = "on x=-17..30,y=-5..41,z=-33..14"

In [6]:
match_number = r'([\d-]+)'
match_dots = r'\.\.'
match_pattern = r'^(\w+) x={n}{d}{n},y={n}{d}{n},z={n}{d}{n}$'.format(
	n=match_number,
	d=match_dots,
)
m = re.match(match_pattern, line)

In [18]:
print(m[1:2])

IndexError: no such group

In [25]:
max(-50, -200)

-50

In [30]:
[x for x in range(-51,-50)]

[-51]

In [1]:
ll = [1,2,3]

In [2]:
ll[1:]

[2, 3]

In [6]:
def foo(a,b):
    print(a,b)

In [9]:
args = [2]

In [10]:
foo(1, *args)

1 2

In [12]:
import math

In [13]:
math.trunc(-3.5)

-3

In [16]:
45%-7

-4

In [1]:
line = 'dit is een regel'

In [2]:
line.split()

['dit', 'is', 'een', 'regel']

In [9]:
seta = {2}

In [10]:
setb = {3}

In [11]:
seta - setb

{2}

In [12]:
setc = {1,2}

In [13]:
setc == seta - setb

False

In [1]:
regel = 'blablabla'

In [2]:
import re

In [3]:
if (m = re.fullmatch('(bla)+', regel)):
    print(m)

SyntaxError: invalid syntax (<ipython-input-3-512583eb3c6c>, line 1)

In [4]:
hoogte = '123cm'

In [6]:
hoogte[:-2]

'123'

In [12]:
verz = set()

In [13]:
verz &= (set('regel'))

In [14]:
verz

set()

In [1]:
ll = [1,2,3,4]

In [2]:
ll.pop()

4

In [3]:
dir = (0,1)

In [10]:
dir = (dir[1], -dir[0])

In [11]:
print(dir)

(0, 1)

In [1]:
mask = 'mask = what'

In [2]:
mask[:4]

'mask'

In [3]:
mask[7:]

'what'

In [4]:
sum([1,2,3,4])

10

In [3]:
bin_str = format(69, '036b')

In [9]:
for (i, bit_str) in enumerate(bin_str):
    print(bit_str)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
1
0
1

In [16]:
ll = [i for i in range(4,-1,-1)]

In [18]:
ll

[4, 3, 2, 1, 0]

In [22]:
1^0

1

In [7]:
from collections import deque

In [12]:
ll = deque([1,2,3,4])

In [13]:
ll.extendleft([1,2,3,4])

In [14]:
ll

deque([4, 3, 2, 1, 1, 2, 3, 4])

In [15]:
ll.index(4,1)

7

In [1]:
line = "departure location: 49-239 or 247-960"

In [2]:
fieldname, line_rmd = line.split(': ')

In [4]:
line_rmd.split(' or ')

['49-239', '247-960']

In [5]:
linet = "157,73,79,191,113,59,109,61,103,101,67,193,97,179,107,89,53,71,181,83"

In [6]:
[ int(val) for val in linet.split(',') ]

[157,
 73,
 79,
 191,
 113,
 59,
 109,
 61,
 103,
 101,
 67,
 193,
 97,
 179,
 107,
 89,
 53,
 71,
 181,
 83]

In [10]:
[ a for a in range(230,239 + 1) ]

[230, 231, 232, 233, 234, 235, 236, 237, 238, 239]

In [11]:
'er' in 'bert'

True

In [1]:
[6 for i in range(3)]

[6, 6, 6]

In [6]:
line = '(v)'

In [9]:
line[1:-1]

'v'

expr = '(in) o rest'

In [16]:
expr[1:3]

'i)'

In [17]:
expr = '(in) o rest'

In [18]:
expr[1:3]

'in'

In [20]:
expr[5]

'o'

In [22]:
expr[7:]

'rest'

In [1]:
codes = [1,2,3,4,5,6]

In [3]:
codes[3] = 666

In [4]:
codes

[1, 2, 3, 666, 5, 6]

In [1]:
verz = set()

In [5]:
verz.add(1)

In [7]:
verz.add(1)

In [9]:
verz.add(2)

verz

In [11]:
len(verz)

2

In [3]:
[ x for x in range(1,9)]

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
setje = set('abcde')

In [2]:
str(setje)

"{'b', 'e', 'a', 'd', 'c'}"

In [5]:
char = setje.pop()

In [6]:
int(char, )

ValueError: invalid literal for int() with base 10: 'e'

In [2]:
[x for x in range(0, 9, 3)]

[0, 3, 6]

In [1]:
line = '8-13,10-65'

In [2]:
lineparts = line.split(',')

In [3]:
lineparts

['8-13', '10-65']

In [5]:
for linepart in lineparts:
    (start_sec, end_sec) = [ int(x) for x in linepart.split('-')]
    print(start_sec, end_sec)

8 13
10 65

In [6]:
line = '1	H	T	Z	D'

In [7]:
line.split()

['1', 'H', 'T', 'Z', 'D']

In [1]:
stack = [1,2,3,4]

In [3]:
stack[-2:]

[3, 4]

In [1]:
cmd = '$ cd tfwgg'

In [4]:
cmd[2:4]

'cd'

In [5]:
cmd[5:]

'tfwgg'

In [11]:
[x for x in range(0, -1, -1)]

[0]

In [1]:
import numpy as np

In [11]:
arr = np.zeros((4,4), dtype=bool)

In [12]:
print(arr)

[[False False False False]
 [False False False False]
 [False False False False]
 [False False False False]]

In [13]:
arr[...,0] = True

In [15]:
print(arr.sum())

4

In [1]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

In [3]:
for (x,y,z) in zip(a,b,c, strict=True):
    print(x,y,z)

TypeError: zip() takes no keyword arguments

In [4]:
class Knot():
    pass

In [5]:
kkk = [ Knot() for var in range(10)]

In [6]:
kkk

[<__main__.Knot at 0x229667fab50>,
 <__main__.Knot at 0x229667fa370>,
 <__main__.Knot at 0x229667fa220>,
 <__main__.Knot at 0x2296692b3a0>,
 <__main__.Knot at 0x2296692b100>,
 <__main__.Knot at 0x2296692b430>,
 <__main__.Knot at 0x2296692b160>,
 <__main__.Knot at 0x2296692b1c0>,
 <__main__.Knot at 0x2296692bc10>,
 <__main__.Knot at 0x2296692bb20>]

In [1]:
import re

In [2]:
m = re.match(r' ([*+])', ' *')

In [3]:
print(m.group(1))

*

In [1]:
import json

In [3]:
lll = json.loads('[1,[2,[3,[4,[5,6,7]]]],8,9]')

In [4]:
print(lll)

[1, [2, [3, [4, [5, 6, 7]]]], 8, 9]